.Form {
  border: none;
  border-bottom: 2px #6a8e7f solid;
}

.Button {
  border: none;
  background-color: #dadadf;
  color: #6a8e7f;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #6a8e7f;
  color: #27213c;
}
