.Form {
    border: none;
    border-bottom: 2px #6A8E7F solid;
}

.Button {
    border: none;
    background-color: #DADADF;
    color: #6A8E7F;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
}

.Button:hover {
    cursor: pointer;
    background-color: #6A8E7F;
    color: #27213C;
}